<button class="block 
  p-3 shadow-md disabled:shadow-none disabled:cursor-not-allowed
  disabled:text-gray disabled:bg-light-gray disabled:border-gray
  text-light-gray bg-blue border-gray
  
  " type="button" ...attributes disabled={{@disabled}}>
  {{yield}}
</button>
