<footer class="w-100 p-8 bg-blue text-white text-2xl">
  <p>
   ©2018, 2022, <a href="http://moacir.com"> Moacir P. de Sá Pereira</a> / <a href="http://twitter.com/muziejus">@muziejus</a>
  </p>
</footer>
