<footer class="footer">
  <p>
   <small>© 2018, <a href="http://moacir.com"> Moacir P. de Sá Pereira</a> (<a href="http://twitter.com/muziejus"><i class="fab fa-twitter"></i> @muziejus</a>) | <LinkTo @route="about">About</LinkTo> | <LinkTo @route="demo">Demo Map</LinkTo>
    </small>
  </p>
</footer>
