<nav class="w-full">
  <ul class="w-full flex flex-row space-x-3">
    <li><LinkTo @route="index">Home</LinkTo></li>
    <li><LinkTo @route="about">About</LinkTo></li>
    <li><LinkTo @route="demo">Demo Map</LinkTo></li>
  </ul>
</nav>

