#demomap style="height: 100%" &nbsp;
javascript:
  var demodata = {
    "width": 2126,
    "imgururl": "https://i.imgur.com/v4q0RmO.jpg",
    "height": 2598,
    "places": [
      {
        "name": "Sutpen’s Hundred",
        "y": 2256,
        "x": 180
      },
      {
        "name": "Belle Mitchell’s",
        "y": 1469,
        "x": 1092
      },
      {
        "name": "Varner’s Store",
        "y": 444,
        "x": 1715
      },
      {
        "name": "Sartoris Plantation",
        "y": 1721,
        "x": 983
      }
    ]
  };
