.d-flex.align-items-center.h-100
  .jumbotron.pb-3.justify-content-center.mx-auto.w-75
    h1.display-2 Antirubbersheeter

    p.lead <strong>Congrats!</strong> Your package has been uploaded to WeTransfer. You can download it here:

    a.mb-3.btn.btn-success.btn-lg.btn-block href=@wt_url target="_blank" role="button"
      | #{@wt_url} (#{@zipsize}mb)

    markdown:
      
      This package is a zipfile that holds the content of your image, chopped
      up into tiles, along with some extra files to let you run the
      Antirubbersheeter at home, or somewhere that doesn’t have have the
      internet.

      To start your geocoding session, first unzip the file. Then, inside the
      `antirubbersheeter` folder, double-click on the file `index.html`, which
      should open in your browser.  Then, follow the instructions there to
      enter the data for your places.
    
      When that’s done, the geocoder will present the json data it collected
      from your clicking. Copy that text and paste it into a file. We’ve
      included the file `mapdata.js` precisely for that purpose, though there
      are instructions in that file about how to paste the data in for maximum
      utility.

      If all goes well, you can then double click on `map.html` and see the
      fruits of your labor.

      Finally, if you don’t trust us to put #{@zipsize}mb of data on your
      computer, you can run your own instance of the Antirubbersheeter on your
      own computer and not deal with us or WeTransfer. Visit the project [on
      GitHub](http://github.com/muziejus/antirubbersheeter).
