<div class="flex flex-col justify-center items-center w-full h-96 border-blue space-y-4 border-dashed border-8" ...attributes >
  <div class="h-48 flex flex-row justify-between space-x-10">
    {{svg-jar "map" class="block fill-current h-48"}}
    {{svg-jar "data" class="block fill-current h-48"}}
  </div>
  {{yield}}
</div>
